body {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
}

.dashboard-container {
  display: flex;
  justify-content: center;

}

.export-btns-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.export-btn {
  margin-left: 10px;
  border-radius: 10px;
  border-width: 0px;
  background-color: #4169e1;
  color: white;
  padding: 10px;
  transition: 0.2s;
}

.export-btn:hover {
  cursor: pointer;
  box-shadow: 2px 3px 10px #A9A9A9;

}
